In [5]:
import pandas as pd
import numpy as np
import matlab.engine

In [59]:
# test_list = np.arange(11)
# test_list = np.random.randint(1,10,size=(11))
succ_rate = 0
for i in range(5):
    test_list = np.random.randint(-10000,10000,size=(11))
            # df_test = pd.DataFrame([data_list],
    df_test = pd.DataFrame([test_list])    # values   # 1st column as index
            # columns=self.textVariables[0:-2])  # 1st row as the column names
    df_test.to_csv("Test.csv")
    eng = matlab.engine.start_matlab()
    eng.MatlabTest(nargout=0)
    eng.quit()

    df_read = pd.read_csv('MatlabTest.csv')

    matrix = (df_read.drop('NaN', axis = 1).values == df_test)
    if(matrix.sum().sum() == 11):
        succ_rate += 1
    
print(succ_rate)

5

In [22]:
df_read.drop('NaN', axis = 1)

   0  1  2  3  4  5  6  7  8  9  10
0  0  1  2  3  4  5  6  7  8  9  10

In [21]:
df_test

   0   1   2   3   4   5   6   7   8   9   10
0   0   1   2   3   4   5   6   7   8   9  10

In [26]:
df_read.drop('NaN', axis = 1)

   0  1  2  3  4  5  6  7  8  9  10
0  0  1  2  3  4  5  6  7  8  9  10

In [25]:
df_read.drop('NaN', axis = 1).equals(df_test)

False

In [33]:
matrix = (df_read.drop('NaN', axis = 1).values == df_test)
matrix.sum().sum()

11

In [57]:
random_matrix_array = np.random.randint(-10000,10000,size=(11))
random_matrix_array

array([ 5028,  1128, -1191,  5656, -6702,  5569,  1135, -3847,  3719,
        5698,  -405])